/* toolbar style */
::-webkit-scrollbar {  
    width: 16px;  }  
::-webkit-scrollbar-track {  
    background-color: white;  }  
::-webkit-scrollbar-thumb {  
    background-color: #8f9d45;  
    border-radius: 8px;
    border: 3px solid white; }  
/*::-webkit-scrollbar-thumb:hover {  
    background-color: #E89E0C;  
}  */

body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

#cat { border-radius: 10px; }


table {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: table;
  background-color: #eee8d5;
  margin-bottom: 2em; }
  table:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75em) {
    table {
      margin-bottom: 1.5em;
      margin-top: 0.5em; } }
  table th, table td {
    padding: 0.5em; }
  table tr {
    background-color: #fdf6e3; }
  table th {
    background-color: #073642;
    color: #fdf6e3; }

.lastCol {width: 5%;
padding: 2px;
}

.lastCol button {margin: 0 auto;}


