svg {-webkit-transform: rotate(270deg);
          -moz-transform: rotate(270deg);
          -o-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg);
          width: auto;
          margin: 5px; 
          height: auto;
          
          -webkit-transform-origin-x: 70px;
-webkit-transform-origin-y: 100px !important;
-webkit-transform-origin-z: initial;
          
          
          }
    
    
g {  
        fill: black;  
        stroke: black;  
        stroke-width: 1;
        transition: fill 1s linear 0s;
    }
g:hover {
        fill: orange;
        stroke: orange; 
    }


