/*reset css*/
body, div, dl, dt, dd ,ul ,ol ,li ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,pre ,form ,fieldset ,input ,textarea ,p ,blockquote ,th , td
    {   margin: 0; 
        padding: 0;
        outline: none; }
.clear
    {   clear: both;
        font-size: 0px; 
        line-height: 0px;
        display: block; }
.last	
    {   margin: 0 !important; }
.pad_last
    {   padding: 0 !important; }
.no_bg
    {   background: none !important;}

a											
    {   color: #000;
        text-decoration: none;
        outline: 0 none; }
body										
    {   color: #b1b1b1; 
        background: #f4f4f4; }

/*layout*/
.wrapper									
    {   margin: 0 auto; 
        min-width:980px; }

/*header*/
.quote										
    {   width: 100%;
        background: #8f9d45; }
.quote-container							
    {   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #ffffff; 
        font-weight: normal;
        width: 980px;
        height: 70px; 
        margin: 0 auto;
        padding: 10px 0; }
.quote-container .text						
    {   font-size: 20px;
        display: inline-block;
        float: left;
        padding: 0 0 0 20px; }
.quote-container .author				
    {   font-size: 12px; 
        display: inline-block;
        float: right;
        padding: 0px 27px 0px 0; }

/*navigation*/
.nav										
    {   width: 100%;
        background: #333333;
        padding: 0 0 0 20px; }
.nav-in										
    {   width: 980px; 
        margin: 0 auto; }
.nav-in ul									
    {   width: 727px; 
        /*margin: 0 auto;*/ }
.nav-in ul li								
    {   float: left;
        display: inline-block;
        padding: 10px 10px 10px 0px;
        margin: 0 0 0 41px; }
        
.nav-in ul li:last-child
    {
        float: right;
    }

.nav-in ul li svg{
            /*float: right;*/
            padding: 0 0 0 10px;
            
         }

.nav-in ul li a								
    {   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
        font-weight: normal;
        font-size: 14px; 
        color: #ffffff;
        display: inline-block; }
.nav-in ul li a:hover						
    {   color: #E89E0C; }

/*main content*/
.main									
    {   width: 980px;
        height: 750px;
        margin: 0 auto;
        padding: 24px 0 5px 0; 
        background:#ffffff; }
.main-in				
    {   width: 942px;
        margin: 0 auto; }
.assignment
    {    
        color: black;
        width: 99.5%;
        height: 70%;
        margin: 10px 0 15px 0;
    
    }
iframe
    {   width: 100%;
        height: 100%; }
.code									
    {   background: #333333;
        height: 20%;
        overflow: auto;
        margin: 10px 0 15px 0;
        padding: 0px 0 20px 18px; }

.swap 
    {
        width: 100%;
        background: #8f9d45;
        color: black;
        text-align: center;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 5px 0 5px 0; 
        margin: 10px 0px 10px 0px;
    }
    
.right 
    {   display: inline-block;
        text-align: right; }

.left 
    {   display: inline-block;
        text-align: left; }

/*footer*/
.footer										
    {   width: 100%;
        background: #333333; }
.footer-in									
    {   width: 980px; 
        margin: 0 auto;
        padding: 10px 0 10px 0; }
.copy										
    {   text-align: center;
        margin: 0 auto; 
        padding :0 15px 0 0;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
        font-weight: normal; 
        font-size: 12px;
        color: white; }
